/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15.11.2016, 7:04:13
    Author     : Linn
*/
*{
    padding: 0;
    margin: 0;
}
body, html{
    height: 100%;
    position: relative;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.wrapper{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    position: relative; /* needed for footer positioning*/;
    height: auto !important; /* real browsers */;
    height: 100%; /* IE6: treaded as min-height*/;
    min-height: 100%; /* real browsers */

}
.footer{
    position: absolute;
    width: 100%;
    bottom: 0; /* stick to bottom */;
    text-align: center;
    color: #cccccc;
    font-family: Arial, Helvetica, sans-serif!important;
    font-size: 13px;
    height: 50px;
    line-height: 50px;
}
.blue-panel{
    width: 100%;
    height: 40px;
    background-color: #0074c7;
    color: #ffffff;
}
.logo-link,.logo-link:hover,.logo-link:active,.logo-link:focus{
    display: inline-block;
    text-decoration: none;
}
.logo{
    width: 52px;
    height: 41px;
    display: inline-block;
    margin: 10px 0 0 0;
}
.logo-text{
    font-weight: bold;
    font-size: 19px;
    line-height: 19px;
    margin: 21px 0 0 0;
    color: #0033cc;
}
.top-bar{
    width: 100%;
    height: 60px;
}
.right{
    float: right;
}
.left{
    float: left;
}
.clearfix{
    float: none;
    clear: both;
}

.login-link,.login-link:hover,.login-link:active,.login-link:focus{
    display: inline-block;
    color: #0099ff;
    text-decoration: none;
    font-size: 12px;
    line-height: 12px;
    margin: 0 3px;
}
.profile-links-wrapper{
    margin: 26px 0 0 0;   
}
.excel-icon{
    width: 32px;
    height: 32px;
    display: inline-block;
    margin: 3px 3px 0 0;
}
.blue-btn,
.blue-btn:hover,
.blue-btn:active,
.blue-btn:focus,
.blue-btn:visited{
    display: inline-block;
    background: #0074d0;
    border: none;
    color: #ffffff;
    font-size: 13px;
    line-height: 25px;
    height: 25px;
    text-decoration: none;
    width: 140px;
    text-align: center;
    padding: 0;
}
.blue-panel-title{
    margin: 12px 0 0 10px;
}
.menu-wrapper{
    padding: 5px 0;
}
.dropdown-menu{
    margin: 0 10px;
    background: #0074d0; 
    color: #ffffff;
    font-size: 13px;
    line-height: 25px;
    height: 25px;
    width: 140px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.rf-ddm-lbl, 
.rf-ddm-lbl:hover{
    padding: 0!important;  
    background: #0074d0!important;
    border: none!important;
    text-align: center;

}
.rf-ddm-lbl, .rf-ddm-lbl-dis{
    font-family: Arial, Helvetica, sans-serif;
}
.triangle-icon{
    position: absolute;
    right: 10px;
    top:5px;
}
.rf-ddm-lst {
    border: none!important;
    background-color: #92b6e6!important;
    min-width: 140px!important;
}

.rf-ddm-lst-bg {
    border:  none!important;
    border-color:  #92b6e6!important;
    background-image: none!important;
}
.rf-ddm-itm {
    padding: 0!important;
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    position: relative;
    text-align: center;
    border-top: 1px solid #0078d1!important;
    color: #ffffff;
}
.rf-ddm-itm-ic{
    display: none!important;
}
.rf-ddm-itm-lbl {
    color: #ffffff!important;
}
.rf-ddm-itm-sel{
    background-color: #0174c4!important;
    padding: 0!important;
    border-color: #0174c4!important;
    background-image: none!important;
}
.report-table{
    width: 100%!important;
}

.report-table-header, .report-table-header th{
    text-align:center;
    background:#0074d0!important;
    padding:4px 0!important;
    font-family: Arial, Helvetica, sans-serif!important;
    font-size: 13px!important;
}

.report-table-header th{
    background-image: none!important;
    background:#0074d0!important;
    color: #ffffff!important;
    font-family: Arial, Helvetica, sans-serif!important;
    font-size: 13px!important;
    font-weight: normal;
    padding: 4px;
    text-align: center;
    text-decoration: underline;
}
.rf-tab-hdr-brd{
    display: none!important;
}
.report-tab{
    color: #000000;
    background: #ffffff;
    font-family: Arial, Helvetica, sans-serif!important;
    font-size: 13px!important;
    padding: 0 35px !important;
    height: 27px;
    line-height: 27px;
    font-weight:bold;
    background-image:none!important;
}
.report-tab-active{
    background:#0074d0!important;
    color: #ffffff!important;
}
.tabs-wrapper{
    padding: 30px 15px;
    width: 100%;
    box-sizing: border-box;

}
.bordered-panel{
    border-right: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-bottom:  1px solid #eeeeee;
    box-sizing: border-box;

}

.green-row{
    background: #a1e3bd!important;
}
.red-row{
    background: #ff9da0!important;
}
.rf-tab-hdr-tabline-vis.rf-tab-hdr-tabline-top{
    background: transparent!important;
    border: none!important;
}