<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:rich="http://richfaces.org/rich" 
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet library="css" name="css.css" />
        <h:outputScript library="js" name="script.js"></h:outputScript>
    </h:head>
    <h:body>
        <!--обертка всего контента-->
        <h:panelGroup layout="block" class="wrapper">

            <!--топбар-->
            <h:panelGroup layout="block" class="top-bar clearfix">

                <!--ссылка на главную-->
                <h:link outcome="index" class="logo-link left">
                    <h:graphicImage alt="Wholesale Access Interface" name="logo.jpg" class="logo left" library="images"></h:graphicImage>
                    <h:panelGroup class="logo-text left">Wholesale Access Interface</h:panelGroup>
                </h:link>


                <!--ссылки на логин и профайл-->
                <h:panelGroup class="right profile-links-wrapper">
                    <h:link value="Logout" class="right login-link" onclick="#{rich:component('popup')}.show();return false;"></h:link>
                    <h:panelGroup class="right login-link">|</h:panelGroup>
                    <h:link value="Welcome Troy Giorgio" class="right login-link"></h:link>
                </h:panelGroup>
            </h:panelGroup>
            <!--блок с рамкой-->
            <h:panelGroup layout="block" class="bordered-panel">
                <h:panelGroup class="menu-wrapper" layout="block">
                    <h:link value="Home" class="left blue-btn"></h:link>
                    <h:link value="Back" class="right blue-btn"></h:link>
                    <!--dropdown-->

                    <rich:dropDownMenu mode="client" class="right dropdown-menu">
                        <f:facet name="label">
                            <h:panelGroup>
                                <h:outputText value="Menu" />
                                <h:graphicImage alt="" name="triangle.png" class="triangle-icon" library="images"></h:graphicImage>
                            </h:panelGroup>
                        </f:facet>
                        <rich:menuItem label="NBM ISP Report"  
                                       actionListener="#{actionListenerBean.handleActionMethod}" 
                                       oncomplete="#{rich:component('testPopup')}.show()" 
                                       render="testPopup"
                                       mode="ajax">
                            <f:attribute name="itemname" value="NBM ISP Report" />
                        </rich:menuItem>
                        <rich:menuItem label="DSL ISP Report" 
                                       actionListener="#{actionListenerBean.handleActionMethod}" 
                                       oncomplete="#{rich:component('testPopup')}.show()" 
                                       render="testPopup"
                                       mode="ajax" >
                            <f:attribute name="itemname" value="DSL ISP Report" />
                        </rich:menuItem>
                        <rich:menuItem label="Configuration" 
                                       actionListener="#{actionListenerBean.handleActionMethod}" 
                                       oncomplete="#{rich:component('testPopup')}.show()" 
                                       render="testPopup"
                                       mode="ajax" >
                            <f:attribute name="itemname" value="Configuration" />
                        </rich:menuItem>
                    </rich:dropDownMenu>
                    <h:panelGroup class="clearfix" layout="block"></h:panelGroup>
                </h:panelGroup>



                <!--синяя полоса-->
                <h:panelGroup class="blue-panel clearfix" layout="block">
                    <h:panelGroup class="left blue-panel-title" layout="block">
                        ISP National APHT Report: 
                        <h:outputText value="#{currentDate}">
                            <f:convertDateTime pattern="MM/dd/yyyy" type="date" />
                        </h:outputText>
                    </h:panelGroup>
                    <h:graphicImage alt="" name="excel.png" class="right excel-icon" library="images"></h:graphicImage>
                </h:panelGroup>


                <!--обертка для табов чтоб были отступы-->
                <h:panelGroup layout="block" class="tabs-wrapper">
                    <h:form id="form">

                        <!--табы-->
                        <rich:tabPanel switchType="ajax" id="tp" headerPosition="top" tabHeaderClass="report-tab" tabActiveHeaderClass="report-tab-active">
                            <!--первый таб-->
                            <rich:tab header="NBN National APHT (SIO)">
                                <rich:dataTable  value="#{reportBean.reportList}" var="report" 
                                                 class="report-table"
                                                 columnHeaderClass="report-table-header" 
                                                 columnClasses="report-column" 
                                                 onrowmouseover="checkRow($(this));"
                                                 >
                                    <rich:column>
                                        <f:facet name="header">ISP</f:facet>
                                            #{report.isp}
                                    </rich:column>
                                    <rich:column>
                                        <f:facet name="header">FNN Number</f:facet>
                                            #{report.fnn}
                                    </rich:column>

                                    <rich:column class="check-value">
                                        <f:facet name="header">Bandwith (Kbps)</f:facet>
                                            #{report.bandwidth}
                                    </rich:column>

                                    <rich:column>
                                        <f:facet name="header">Network SID (count)</f:facet>
                                            #{report.networksid}
                                    </rich:column>

                                    <rich:column>
                                        <f:facet name="header">Kbps/SIO</f:facet>
                                            #{report.kbps}
                                    </rich:column>
                                    <rich:column>
                                        <f:facet name="header">Current Timer</f:facet>
                                            #{report.timer}
                                    </rich:column>
                                    <rich:column>
                                        <f:facet name="header">Last Month</f:facet>
                                            #{report.lastmonth}
                                    </rich:column>
                                </rich:dataTable>
                            </rich:tab>
                            <!--первый таб-->

                            <!--второй таб-->
                            <rich:tab header="DSL National APHT (SIO)">
                                <rich:dataTable  value="#{reportBean.reportListSecond}" var="report" 
                                                 class="report-table"
                                                 columnHeaderClass="report-table-header" 
                                                 columnClasses="report-column" 
                                                 onrowmouseover="checkRow($(this));"
                                                 >
                                    <rich:column>
                                        <f:facet name="header">ISP</f:facet>
                                            #{report.isp}
                                    </rich:column>
                                    <rich:column>
                                        <f:facet name="header">FNN Number</f:facet>
                                            #{report.fnn}
                                    </rich:column>

                                    <rich:column class="check-value">
                                        <f:facet name="header">Bandwith (Kbps)</f:facet>
                                            #{report.bandwidth}
                                    </rich:column>

                                    <rich:column>
                                        <f:facet name="header">Network SID (count)</f:facet>
                                            #{report.networksid}
                                    </rich:column>

                                    <rich:column>
                                        <f:facet name="header">Kbps/SIO</f:facet>
                                            #{report.kbps}
                                    </rich:column>
                                    <rich:column>
                                        <f:facet name="header">Current Timer</f:facet>
                                            #{report.timer}
                                    </rich:column>
                                    <rich:column>
                                        <f:facet name="header">Last Month</f:facet>
                                            #{report.lastmonth}
                                    </rich:column>
                                </rich:dataTable>
                            </rich:tab>
                            <!--второй таб-->
                        </rich:tabPanel>
                    </h:form>

                </h:panelGroup>









                <!--модальные окна-->
                <rich:popupPanel id="popup" modal="true" resizeable="true" onmaskclick="#{rich:component('popup')}.hide()">
                    <f:facet name="header">Confirm dialog</f:facet>

                    <f:facet name="controls">
                        <h:outputLink value="#" onclick="#{rich:component('popup')}.hide(); return false;" style="color: inherit">
                            X
                        </h:outputLink>
                    </f:facet>

                    <h:panelGroup layout="block">
                        <h:outputText value="Do you really want to leave this page?" /><br/>
                        <h:outputLink value="#" onclick="window.close(); return false;" class="left">
                            Yes
                        </h:outputLink>
                        <h:outputLink value="#" onclick="#{rich:component('popup')}.hide(); return false;" class="right">
                            No
                        </h:outputLink>
                        <h:panelGroup class="clearfix"></h:panelGroup>
                    </h:panelGroup>

                </rich:popupPanel>



                <h:form>
                    <rich:popupPanel id="testPopup" modal="true" resizeable="true" onmaskclick="#{rich:component('testPopup')}.hide()" domElementAttachment="form">
                        <f:facet name="header">
                            <h:outputText value="Selected menu item"/>
                        </f:facet>
                        <f:facet name="controls">
                            <h:outputLink value="#" onclick="#{rich:component('testPopup')}.hide(); return false;" style="color: inherit">
                                X
                            </h:outputLink>
                        </f:facet>
                        <p><h:messages id="messages"/></p>
                    </rich:popupPanel>
                </h:form>
            </h:panelGroup>
        </h:panelGroup>
        <h:panelGroup layout="block" class="footer">
            &copy; DonRiver, Inc 2013. All Rights Reserved.
        </h:panelGroup>





    </h:body>
</html>

